.title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    padding: 1em;
    color: black;
    background-color: whitesmoke;
  }

.socials {
  display: flex;  
  margin-right: 1em;
  float: right;
}

.icons {
  border-color: rgba(0,0,0,0.25);
  border-width: 0;
  border-style: solid;
  size: 100;
}

.menubarItem {
  font-size: 14pt;
  color: white;
  height: 60px;
  line-height: 40px;
  padding-left: 3em;
  padding-right: 3em;
  align-items: center;
  justify-content: center;
  
}

.menubarItem:hover {
  background-color: #383838;
  opacity: 90%;
  border-bottom: 1px solid white;
  border-top: 1px solid white;

}

.navbar-marg {
  padding-left: 5%;
}